.image-button-container {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    width: 200px;
    height: 8vh;
    padding: 15px 30px;
    margin: 10px auto;
}

.image-button-container > img {
    width: 30px;
    margin-right: 10px;
}