/* Definições Gerais */

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    
    

}

body{
    width: 100vw;
    height: 100vh;
}

/* Configurando links */

a:link { 
 text-decoration:none;
 color: white;
 font-weight: bold; 
} 

a:active{
    color: white;
}

a:hover{
    color: #6ddad3;
}

/* Configurando Header e Menu Supeior */

header{
    width: 100vw;
    display: flex;
    background-color: #132235;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

nav{
    padding: 10px;
    font-size: 0.8rem;
    overflow: hidden;
}

.menu{
    color: white;
    padding: 15px;
    margin-right: 20px;
}

/* Configurando galeria de Imagens */

#galeria{
    display: grid;
    padding: 0px;
    margin: 0px;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#logo{
    grid-row: 1/3;
    grid-column: 1/3;
    width: 40vw;
}

#imagem1{
    justify-items: stretch;
    grid-row: 1/2;
    grid-column: 3/4;
    width: 20vw;
}

#imagem2{
    justify-items: stretch;
    grid-row: 1/2;
    grid-column: 4/5;
    width: 20vw;
}

#imagem3{
    justify-items: stretch;
    grid-row: 1/2;
    grid-column: 5/6;
    width: 20vw;
}

#imagem4{
    justify-items: stretch;
    grid-row: 2/3;
    grid-column: 3/4;
    width: 20vw;
}

#imagem5{
    justify-items: stretch;
    grid-row: 2/3;
    grid-column: 4/5;
    width: 20vw;
}

#imagem6{
    justify-items: stretch;
    grid-row: 2/3;
    grid-column: 5/6;
    width: 20vw;
}

/* Configurando Imoveis */

#imoveis{
    margin-top: 40px;
    justify-items: center;
    display: grid;
    padding: 0px;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#apt1{
    justify-items: stretch;
    grid-row: 1/2;
    grid-column: 1/2;
    width: 30vw;
    border-radius: 5%;
}

#infoapt1{
    font-size: 0.8rem;
    color: #132235;
    justify-items: stretch;
    grid-row: 2/3;
    grid-column: 1/2;
    width: 30vw;
}

#apt2{
    justify-items: stretch;
    grid-row: 1/2;
    grid-column: 2/3;
    width: 30vw;
    border-radius: 5%;
}

#infoapt2{
    font-size: 0.8rem;
    color: #132235;
    justify-items: stretch;
    grid-row: 2/3;
    grid-column: 2/3;
    width: 30vw;
}

#apt3{
    justify-items: stretch;
    grid-row: 1/2;
    grid-column: 3/4;
    width: 30vw;
    border-radius: 5%;
}

#infoapt3{
    font-size: 0.8rem;
    color: #132235;
    justify-items: stretch;
    grid-row: 2/3;
    grid-column: 3/4;
    width: 30vw;
}

#apt4{
    justify-items: stretch;
    grid-row: 3/4;
    grid-column: 1/2;
    width: 30vw;
    border-radius: 5%;
}

#infoapt4{
    font-size: 0.8rem;
    color: #132235;
    justify-items: stretch;
    grid-row: 4/5;
    grid-column: 1/2;
    width: 30vw;
}

#apt5{
    justify-items: stretch;
    grid-row: 3/4;
    grid-column: 2/3;
    width: 30vw;
    border-radius: 5%;
}

#infoapt5{
    font-size: 0.8rem;
    color: #132235;
    justify-items: stretch;
    grid-row: 4/5;
    grid-column: 2/3;
    width: 30vw;
}

#apt6{
    justify-items: stretch;
    grid-row: 3/4;
    grid-column: 3/4;
    width: 30vw;
    border-radius: 5%;
}

#infoapt6{
    font-size: 0.8rem;
    color: #132235;
    justify-items: stretch;
    grid-row: 4/5;
    grid-column: 3/4;
    width: 30vw;
}

/* Configurando o Footer e Menu Inferior com Redes Sociais */

footer{
    width: 100vw;
    display: flex;
    background-color: #132235;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.sociais{
    width: 3vw;
    padding: 15px;
    margin-right: 30px;
    
}

/* Configurando Responsividade para Celulares */


@media screen and (min-device-width : 100px) and (max-device-width : 751px) {
    

/* Reorgarnizando a Galeria de Imagens */

    #galeria{
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 50% 50%;
    }
    
    #logo{
        grid-row: 2/4;
        grid-column: 1/2;
        width: 100vw;
    }
    
    #imagem1{
        grid-row: 1/2;
        grid-column: 1/2;
        width: 50vw;
    }
    
    #imagem2{
        grid-row: 1/2;
        grid-column: 2/3;
        width: 50vw;
    }
    
    #imagem3{
        grid-row: 4/5;
        grid-column: 1/2;
        width: 50vw;
    }
    
    #imagem4{
        grid-row: 4/5;
        grid-column: 2/3;
        width: 50vw;
    }
    
    #imagem5{
        grid-row: 5/6;
        grid-column: 1/2;
        width: 50vw;
    }
    
    #imagem6{
        grid-row: 5/6;
        grid-column: 2/3;
        width: 50vw;
    }
    
/* Reorganizando os Imóveis */

    #imoveis{
        margin-top: 40px;
        justify-items: center;
        display: grid;
        padding: 0px;
        column-gap: 5px;
        row-gap: 5px;
        grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
        grid-template-columns: 1fr;
    }
    
    #apt1{
        justify-items: stretch;
        grid-row: 1/2;
        grid-column: 1/2;
        width: 90vw;
        
    }
    
    #infoapt1{
        font-size: 0.8rem;
        justify-items: stretch;
        grid-row: 2/3;
        grid-column: 1/2;
        width: 90vw;
    }
    
    #apt2{
        justify-items: stretch;
        grid-row: 3/4;
        grid-column: 1/2;
        width: 90vw;
        border-radius: 5%;
    }
    
    #infoapt2{
        font-size: 0.8rem;
        color: #132235;
        justify-items: stretch;
        grid-row: 4/5;
        grid-column: 1/2;
        width: 90vw;
    }
    
    #apt3{
        justify-items: stretch;
        grid-row: 5/6;
        grid-column: 1/2;
        width: 90vw;
        border-radius: 5%;
    }
    
    #infoapt3{
        font-size: 0.8rem;
        color: #132235;
        justify-items: stretch;
        grid-row: 6/7;
        grid-column: 1/2;
        width: 90vw;
    }
    
    #apt4{
        justify-items: stretch;
        grid-row: 7/8;
        grid-column: 1/2;
        width: 90vw;
        border-radius: 5%;
    }
    
    #infoapt4{
        font-size: 0.8rem;
        color: #132235;
        justify-items: stretch;
        grid-row: 8/9;
        grid-column: 1/2;
        width: 90vw;
    }
    
    #apt5{
        justify-items: stretch;
        grid-row: 9/10;
        grid-column: 1/2;
        width: 90vw;
        border-radius: 5%;
    }
    
    #infoapt5{
        font-size: 0.8rem;
        color: #132235;
        justify-items: stretch;
        grid-row: 10/11;
        grid-column: 1/2;
        width: 90vw;
    }
    
    #apt6{
        justify-items: stretch;
        grid-row: 11/12;
        grid-column: 1/2;
        width: 90vw;
        border-radius: 5%;
    }
    
    #infoapt6{
        font-size: 0.8rem;
        color: #132235;
        justify-items: stretch;
        grid-row: 12/13;
        grid-column: 1/2;
        width: 90vw;
    }
    



    /* Reorganizando Header e Footer */

    header{
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    .menu{
        padding: 10px;
        font-size: 0.7rem;
        margin-right: auto;
    }


    footer{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        
    }
    
    nav{
        display: flex;
        align-items: center;
        padding: 5px;
        font-size: 1rem;
        overflow: auto;
    }
    .sociais{
        width: 10vw;
        padding: 10px;
        margin-right: auto;
        
    }   
}