.littlecard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 80px;
}

.littlecard-container > img {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.littlecard-container h4 {
    display: inline;
    margin-bottom: 5px;
}

.littlecard-container p {
    display: inline;
    margin-bottom: 5px;
}

.littlecard-container > div {
    display: flex;
    display: inline;
    flex-direction: column;
    justify-items: flex-start;
}