body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

#main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

#top-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.green-background {
    background-color: green;
    flex-basis: 25%;
}

.yellow-background {
    background-color: yellow;
    flex-basis: 75%;
}

.pink-background {
    background-color: fuchsia;
}

.blue-background {
    background-color: blue;
}

.red-background {
    background-color: red;
}

.lightgreen-background {
    background-color: lightgreen;
}

.purple-background {
    background-color: purple;
}