body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

#main-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(15, 1fr);
}

/* #top-container{
    display: grid;
}

#middle-container{
    display: grid;
}

#vertical-middle-container{
    display: grid;
}

#blank{
    display: grid;
}

#content2{
    display: grid;
}

#image{
    display: grid;
}

#extra{
    display: grid;
} */


.green-background {
    background-color: green;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    
}

.yellow-background {
    background-color: yellow;
    grid-row: 1 / 2;
    grid-column: 2 / 5;
}

.pink-background {
    background-color: fuchsia;
    grid-row: 2 / 11;
    grid-column: 1 / 5;
}

.blue-background {
    background-color: blue;
    grid-row: 2 / 11;
    grid-column: 1 / 3;
}

.red-background {
    background-color: red;
}

.lightgreen-background {
    background-color: lightgreen;
}

.purple-background {
    background-color: purple;
}