header{
    background-color: blue;
}

body{
    background-color: yellow;
    
}

footer{
    background-color: salmon;
}

#botão1{
    background-color: goldenrod;
}

#botão2{
    background-color: chocolate;
}